aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.10.4
asttokens==2.4.1
attrs==24.2.0
beanie==1.27.0
boto3==1.35.50
botocore==1.35.50
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
debugpy==1.8.7
decorator==5.1.1
dnspython==2.7.0
executing==2.1.0
fal_client==0.5.6
fastapi==0.115.4
fastapi-mongo-base==0.6.3
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
httpx-socks==0.9.1
httpx-sse==0.4.0
idna==3.10
ipython==8.29.0
jedi==0.19.1
jmespath==1.0.1
json-advanced==0.12.6
langdetect==1.0.9
lazy-model==0.2.0
matplotlib-inline==0.1.7
metisai==0.3.5
motor==3.6.0
multidict==6.1.0
parso==0.8.4
peppercorn==0.6
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.48
propcache==0.2.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyJWT==2.9.0
pymongo==4.9.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.16
python-socks==2.5.3
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.10.3
singleton_package==0.6.0
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.41.2
toml==0.10.2
traitlets==5.14.3
typing_extensions==4.12.2
tzlocal==5.2
ufaas-fastapi-business==0.3.6
urllib3==2.2.3
usso==0.26.1
uvicorn==0.32.0
uvloop==0.21.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.1
yarl==1.17.0
